*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100wh;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(248, 244, 244);
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(18,1fr);

}

.box{
    border: 1px solid rgb(194, 191, 191);
}

.box1{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    background-color: rgb(236, 234, 234);
    
}
.box2{
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 20px; */
     background-color: rgb(236, 234, 234);
}
.box3{
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: white;
}
.box4{
    grid-column: 5/13;
    grid-row: 3/9;
    background-color: rgb(202, 200, 200);
    margin-top: 5px;
}
.box5{
    grid-column: 13/21;
    grid-row: 3/9;
    background-color: rgb(202, 200, 200);
    margin-top: 5px;
    margin-left: 5px;
}
.box6{
    grid-column: 9/17;
    grid-row: 9/15;
    background-color: rgb(202, 200, 200);
    margin-top: 5px;
}


.start-icon{
    display: flex;
    gap: 20px;
    margin-left: 13px;
}  

.end-icon{
    display: flex;
    gap: 20px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    gap: 20px;
}
.box3-start{
    display: flex;
    gap: 20px;
    margin-left: 6px;
}
.box3-end{
    display: flex;
    gap: 20px;
}

.child{
    height: 3rem;
    width: 3rem;
    /* background-color: rgb(223, 209, 209); */
    border: 1px solid rgb(156, 154, 154);
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

} 
.child:hover{
    background-color: rgb(168, 163, 163);
}


input{
    width: 43rem;
    height: 30px;
    /* border: 1px solid rgb(182, 177, 177); */
    border-radius: 5px;
    font-size: 1rem;
    padding: 0 1rem;
    
}
input:hover{
    cursor: pointer;
}
input:active{
    border: 2px solid gray;
}

.box4:hover{
    cursor: pointer;
    border: 2px solid rgb(144, 144, 214);
}
.box5:hover{
    cursor: pointer;
    border: 2px solid rgb(144, 144, 214);
}
.box6:hover{
    cursor: pointer;
    border: 2px solid rgb(144, 144, 214);
}